
@media only screen and (max-width: 700px) {
    .book-scroll {
        display: none;
    }

    div.prevent-scroll {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc( 100% - (55px));
        background-color: transparent;
        z-index: 20;
    }
}

@media only screen and (min-width: 700px) {
    .book-scroll {
        max-height: 100vh;
        grid-area: scr;
        width: 100%;
        overflow-y: auto;
        padding: 0 1rem;
    }

    .book-scroll {
        scroll-behavior: smooth;
    }

    .book-scroll  button {
        margin-bottom: 1rem;
        border: 1px solid var(--lightGray);
        cursor: pointer;
        transition: all .1s;
    }
    .book-scroll  button:hover {
        opacity: 0.5;
    }

    .book-scroll > button:last-child {
        margin-bottom: 0;
    }

    .book-scroll  button.active {
        border: 1px solid rgb(199, 196, 196);
    }

    .book-scroll::-webkit-scrollbar {
        width: 12px;
    }
    
    .book-scroll::-webkit-scrollbar-track {
        background: var(--lightgray);
    }
    
    .book-scroll::-webkit-scrollbar-thumb {
        background-color: var(--gray);
        border-radius: 40px;
    }

    .book-scroll:nth-last-child() {
        margin-bottom: 0rem;
        width: 30px;
    }

}