.home-template-h1 {
    font-size: xx-large;
    text-align: center;
    font-weight: lighter;
}

.home-template-title {
    font-size: x-large;
    text-align: center;
    margin: 1rem 0;
}

@media only screen and (max-width: 700px) {
    .home-template-h1 {
        margin: 6rem 0 3rem;
    }
}

@media only screen and (min-width: 700px) {
    .home-template-h1 {
        font-size: 66px;
        margin: 3rem 0;
    }

    .home-template-title {
        font-size: xx-large;
    }
    
}


